.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.direction {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: lightgray;
}

.direction:hover {
    background-color: darkgray;
    color: white;
}

.name {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.engstrand {
    color: darkblue;
}

.manders {
    color: darkgreen;
}

q {
    font-style: italic;
    color: darkred;
}
table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background-color: lightgray;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}